
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: white
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#logo {
    width: 80px;
    border-radius: 50%;
    margin-right: 1.9rem;
}

#header {
  box-sizing: border-box;
  height: 90px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00498b;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.9rem;
}

#menu a {
  display: block;
  padding: 0.9rem;
}

#btn-mobile {
  display: none;
}

h1{
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}    

#video {
  display: flex;
  align-items:center ;
  justify-content: center;

}

footer{
  display: flex;
  margin-top: 70px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  height: 70px;
  background: #00498b;
  justify-content: center;
  margin-bottom: 0;
}

h5 {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
}

.creditos {
  color: black;
  pointer-events: painted;
  text-decoration: underline;
}

.creditos :hover {
  color: white;
}



h5 a:hover {
  color: white;
  background: none;
}


@media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }